<!DOCTYPE html>
<html>
  <head>
    <title>KatanaKeys!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container text-center"> <!-- Added 'text-center' class to center align content -->
      <header>
        <h1 class="display-4">Katana Keys</h1>
        <p class="lead">A website for those who dream!</p>
      </header>
      <main>
        <div class="jumbotron">
          <h2 id="quote-text" class="display-5"></h2>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Type the quote:</span>
          </div>
          <input type="text" id="input" class="form-control">
        </div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
